.hero {
  /* margin-bottom: 7rem; */
}
.col {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}
.image {
  display: flex;
  justify-content: center;
}
.tittle {
  font-weight: 900;
  text-transform: uppercase;
  background: linear-gradient(
    to bottom,
    var(--primary-color),
    var(--secondary-color)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.desc {
  font-size: 24px;
  line-height: 2rem;
  color: #666;
}
.button {
  padding: 20px;
  background-color: var(--primary-color);
  width: max-content;
  color: var(--secondary-color);
  text-transform: uppercase;
  transition: 0.4s;
}
.button:hover {
  background-color: #00ffffcb;
  color: #111;
}
.img {
  position: relative;
  width: 500px;
  height: 500px;
}
@media (max-width: 800px) {
  .img {
    position: relative;
    width: 360px;
    height: 360px;
  }
}
